*.axf
*.bak
*.bat
*.bin
*.cogui
*.comarker
*.crf
*.crun
*.d
*.dbgdt
*.dep
*.dni
*.elf
*.elf.xcodeproj
*.ewt
*.hex
*.htm
*.i
*.iex
*.lnp
*.lst
*.dnx
*.map
*.o
*.orig
*.out
*.patch
*.sct
*.sim
*.tmp
*.tmp.c
*.uvgui.*
*.uvguix.*
*.uvproj.*
*.wsdt
*.wspos
*.xml
logs
lst
obj
patch
release